@model IEnumerable<FinanceApp.Models.Expense>


<div class="container">
    <table class="table table-bordered ">
        <thead class="table-light ">
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model)
            {
                <tr>
                    <td>@expense.Date.ToShortDateString()</td>
                    <td>@expense.Description</td>
                    <td>@expense.Amount.ToString("C")</td>
                    <td>@expense.Category</td>
                </tr>
            }
        </tbody>
    </table>
</div>